<!-- html tag starts html -->
<html>
    Hello
    <!-- body tag containes content of html document. Only 1 body allowed -->
   <body>
       <!-- form tag allows for user input. -->
       <!-- "action" says what url to go after form completed.(blank means stay on current page) -->
       <!-- "method" can be "get" or "post". Since post is html it is what we will be using -->
       <form action = "" method = "post">
         <!-- p tag represents a paragraph.(seperate block of text) -->
         <p>Enter Name:</p>
         <!-- input is how we get forms from users -->
         <!-- "type" how we are recieving input.("submit is a button, text is a bar") -->
         <!-- "name" the name of the text request.form looks for -->
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
</html>
