{% extends "layout.html" %} <!-- retrieve layout -->
{% block content %} <!-- lines up with the "block content" in layout.html -->
<div class="page-content">
   <form action="" method="POST">
      <!-- p tag represents a paragraph.(seperate block of text) -->
      <p>Search by state:</p>
      <!-- input is how we get forms from users -->
      <!-- "type" how we are recieving input.("submit is a button, text is a bar") -->
      <!-- "name" the name of the text request.form looks for -->
      <p><input type="text" name="state"></p>
      <p><input type="submit" value="Submit"></p>
   </form>
</div>
{% endblock content %} <!-- indicates "block content" is done -->